/*  --body--  */
*
{
    box-sizing: border-box;
}
body
{
    background: rgb(180, 74, 154, 0.5);
    color: black;
    /*width: 100%;
    margin: 10px;  
    font-family: 'Arial Narrow', Arial, sans-serif;*/
}

.main
{
    /*border: 2px solid pink;*/
    display: flex;
    flex-flow: nowrap row;
    align-items: flex-start;
   /* position: fixed;*/

}


/*  --navigation vericale-- */

.main > nav
{
    width: 20%;
    padding-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: rgba(26, 30, 46);
    font-family: sans-serif;
    /*background: rgba(3, 3, 3, 0.9);*/
    border-radius: 3% 0 0 3%;
    /*background: url('../nav.jpg') no-repeat fixed;*/
    /*background: rgba(0, 0, 0, 0.918);*/
}

.menu
{
    margin-top: 20px;
    /*border: 1px solid rgb(146, 13, 13);*/
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 100%;
    height: 220px;
}

.menu a
{
    border: 0px solid rgb(146, 13, 13);
    height: 70px;
    color: rgb(196, 188, 188);
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    padding-left: 40px;
    padding-top: 15px;
    text-decoration: none;
}

.menu a:hover
{
    border-left: 6px solid rgb(236, 19, 164);
    /*background: rgba(245, 241, 241, 0.089);*/
    background: rgba(245, 243, 243, 0.2);
    color: rgb(236, 19, 164);
}

.amination-sync1
{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    font-size: 1.8em;
    margin-top: 80px;
    /*font-weight: 900;*/
}

.favicon
{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
}

.favicon a
{
    color: rgb(196, 186, 186);
    text-decoration: none;
}

.favicon a:hover
{
    color: rgb(84, 240, 22);
}


/*  --section--  */

section
{
    border: 1px solid black;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    /*background: url('../section.jpg') fixed 50px 200px ;*/
    /*background: rgba(41, 25, 37, 0.918);*/
    color: white;
    padding: 30px;
    padding-bottom: 10px;
    background: rgb(230, 232, 236);
}


/*Nav de la section*/

section > nav
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    text-decoration: none;
    background: rgba(26, 30, 46);
    border-radius: 50px;
    /*border: 1px solid rgb(236, 19, 164);*/
}

.nav-titre
{
    font-size: 1.3em;
    display: inline-block;
    font-weight: lighter;
    padding: 10px;
    /*background: rgb(236, 19, 164);
    border-radius: 20%;*/
}

.amination-sync2
{
    color: rgb(240, 146, 162);
    margin-right: 10px;
}

.nav-favicon
{
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    font-size: 25px;
    /*border: 1px solid rgb(236, 19, 164);*/
}

/*article de la section*/

article
{
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: space-between;
    /*border: 1px solid rgb(236, 19, 164);*/
    width: 100%;
    margin-top: 20px; 
}


/*main de About*/

.cadre-about
{
    
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    /*border: 1px solid rgb(236, 19, 164);*/
    width: 45%;
    /*background: rgb(65, 63, 63);*/
    background: rgb(25, 19, 44, 0.9);
    border-radius: 5%;
    box-shadow: 8px 8px 6px black;
}

.cadre-about h1
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.point
{
    color: rgb(236, 19, 164);
}

.cadre-about h4
{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 1.7em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(243, 71, 186);
}

.cadre-about p
{
    margin-top: 0px;
    margin-bottom: -10px;
    font-size: 1.3em;
    line-height: 1.6;
    padding: 20px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Laravel-Ruby
{
    color: rgb(26, 61, 218);
    font-weight: bold;
}

.cadre-bouton
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    /*border: 1px solid rgb(160, 236, 19);*/
}

.cadre-bouton a
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    background: rgb(0, 0, 0, 0.5);
    width: 120px;
    height: 40px;
}

.cadre-bouton a:hover
{
    background: rgb(243, 71, 186);
}

.cadre-favicon
{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 30px;
}

.cadre-favicon a
{
    color: pink;
    font-size: 30px;
}

.quote i
{
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 1.6em;
    color: rgb(0, 0, 0, 0.6);
}

aside img
{
    width: 470px;
    height: 480px;
    border-radius: 5%;
    box-shadow: -8px 8px 6px black;
}



/*main de Work*/

.main-work
{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around; 
    
}

.img-work
{
    color: black;
    text-align: center;
    margin: 10px;
    
}

.img-work p
{
    margin-top: 0px;
}

.img-work img
{
    border: 1px solid black;
    border-radius: 5px;
}

.img-work:hover
{
    transform: scale(1.2);
}



/*main de Labs*/

.main-labs
{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around; 
    
}

.img-labs
{
    color: white;
    text-align: center;
    margin: 10px;
    background: rgba(26, 30, 46);
    border-radius: 5px;
}

.img-labs p
{
    margin-top: 5px;
}

.img-labs img
{
    border: 2px solid rgba(26, 30, 46);   
}

.img-labs:hover
{
    transform: scale(1.2);
}



/*main de contact*/

.main-contact
{
    display: flex;
    flex-flow: wrap;
    justify-content: center; 
    width: 100%;  
    /*border: 1px solid black;*/
}

form
{
    width: 80%;
    padding: 30px;
    padding-top: 0px;
    margin-top: -15px;
    /*border: 1px solid black;*/
}

.main-contact p
{
    color: rgb(8, 8, 8);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 17px;
    margin-top: 25px;
}


textarea
{
    width: 100%;
    height: 150px;
    font-size: 15px;
    font-family: sans-serif;
}

textarea:hover
{
    border: 1px solid rgb(255, 75, 168);
}

input[type="text"]
{
    height: 50px;
    width: 350px;
    margin-bottom: 10px;
}

input[type="text"]:hover
{
    border: 1px solid rgb(255, 75, 168);
}

form div
{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.les-btn-form
{
    margin-top: 10px; 
    justify-content: flex-start;
}

input[type="submit"]
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    background: rgb(0, 0, 0, 0.8);
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-family: sans-serif;
}

input[type="submit"]:hover
{
    background: rgb(255, 75, 168);
}

.favicon-contact
{
    display: flex;
    flex-flow: row;
    width: 250px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 150%;
    margin-top: 5px;
    /*border: 1px solid black;*/
}

.favicon-contact a
{
    color: black;
}

.favicon-contact a:hover
{
    color: rgb(84, 240, 22);
}
